//Sass variable
@use "_variables" as *;

body {
  background-color: $background-color;
  // font-family: $primary-font;
  font-size: 100%;
  color: $primary-color;
}

header {
  background-color: $primary-color;
  color: $background-color;
  position: sticky;
  top: 0;
  font-size: 2em;
  z-index: 2;

  .header-links {
    display: flex;
    gap: 24px;
    font-size: 0.5em;
  }

  .nav-header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 0 10%;
  }
}

a {
  text-decoration: none;
  color: $background-color;
}

.home-section {
  display: flex;
  justify-content: center;

  .intro-card {
    display: flex;
    flex-direction: column;

    // align-items: flex-end;
    background: green;
    margin: 0 0 0 0;
    padding: 0 6% 0 6%;

    // height: 85vh;
    max-height: 720px;
    width: auto;
    border-radius: 0 0 10px 10px;
    font-style: normal;
    font-size: 36px;
    line-height: 72px;
    overflow: clip;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
    object-fit: contain;

    .p1 {
      display: block;
      font-size: 1em;
      font-weight: 500;
      margin: 0;
      padding-top: 24px;
      text-align: right;
      word-wrap: break-word;
    }

    .p2 {
      font-size: 0.6em;
      font-style: thin;
      margin: 0;
      text-align: right;
      color: $tertiary-color;
      word-wrap: break-word;
    }

    .img-headshot {
      display: flex;
      justify-content: flex-start;
      max-height: 90%;
      width: auto;
      object-fit: contain;

      border: solid 2px;
    }
  }
}
