//Sass variable
@use "_variables" as *;

body {
  background-color: $background-color;
  color: $primary-color;
}

header {
  background-color: $primary-color;
  color: $background-color;
  position: sticky;
  top: 0;
  font-size: 2rem;
  z-index: 2;
  @media only all and (max-width: 950px) {
 
 font-size: 1.5em;

  }

  .header-links {
    display: flex;
    gap: 24px;
    font-size: 0.75em;
    
  }
  

  .nav-header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;

    @media only all and (max-width: 950px) {
      padding: 0 24px 0 24px;
     
  }
 
}
}

a {
  text-decoration: none;
  color: $background-color;
  
 
}

.home-section {
  justify-content: center;
  // background-color: cornflowerblue;
}

.intro-card {
  display: flex;
  flex-direction: column;
  background: $secondary-color;
  margin: 0px auto;
  width: 60%;
  padding: 0 5% 0px 5%;
  height: auto;
  border-radius: 0 0 10px 10px;
  font-style: normal;
  box-shadow: $box-shadow;
  @media only all and (max-width: 950px) {
    width: 100%;
  }
}

h1 {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0;
  padding-top: 24px;
  text-align: right;
  @media only all and (max-width: 950px) {
    font-size: 1.2em;
}
  @media only all and (max-width: 635px) {
    font-size: .9em;
}
}

p {
  font-size: 1.3em;
  font-style: thin;
  margin: 0;
  padding-top: 20px;
  text-align: right;
  color: $tertiary-color;
  word-wrap: break-word;
  @media only all and (max-width: 950px) {
    font-size: .9em;
}
  @media only all and (max-width: 635px) {
    font-size: .6em;
}
}

.img-headshot {
  display: flex;
  height: 100%;
  width: auto;
  object-fit: contain;
  padding: 0 0 0 20px;
  @media only all and (max-width: 635px) {
    flex-direction: column-reverse;
}
  .face {
    width: auto;
    height: fit-content;
    overflow: auto;
    border-radius: 0 10px 10px 0;
    @media only all and (max-width: 635px) {
      height: 5%;
  }
}

  .button-cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    .button-cta {
      width: auto;
      padding: 8px;
      background-color: white;
      font-family: poppins;
      font-size: 1.5em;
      border-radius: 4px;
      border: solid;
      color: $primary-color;
      @media only all and (max-width: 950px) {
        font-size: 1em;
       
    }
    }
    a.button-cta:hover {
      background-color: rgb(155, 220, 237);
    
    }
  }
}

//PROJECT NAV HEADER
.nav-project-header {
  display: flex;
  padding: 100px 0 0 0;
  font-size: 1.75em;
  margin: 0px auto;
  width: 70%;
  
  // background-color: aqua;

  h1 {
    padding-right: 200px;
  }
}
.project-links {
  display: flex;
  gap: 24px;
}

//PROJECTS CONTAINER
.project-section {
  // background-color: cadetblue;
}

.project-card {
  display: flex;
  background: $secondary-color;
  margin: 72px auto;
  
  height: 400px;
  width: 70%;
  border-radius: 10px 10px 10px 10px;
  font-style: normal;
  box-shadow: $box-shadow;
}
.card-image-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  object-fit: contain;
  overflow: clip;
  
  // background-color: hotpink;
}
.project-image {
  max-width: 250px;
  height: fit-content;
  width: auto;
    overflow: clip;
    border-radius: 0 10px 10px 0;
    
}

.project-description {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding:0 8px 0 24px;
  // background-color: blueviolet;
  gap: 16px;
  word-break: normal;
  font-size: .9em;
  
}
.project-card-title {
  text-align: center;
  
  
  

}
.project-desc-paragraph {
  font-weight: 300;
  
}
.project-technology-container {
  flex-grow: 1;
  font-weight: 300;
}

.project-technology-title {
  font-weight: 700;
  padding-top: 8px;
  
}


.project-button-container {
  display: flex;
  justify-content: center;
  padding: 0 0 24px 0;
  gap: 36px;
 


}

.button-project-links {
  width: auto;
  padding: 8px;
  background-color: white;
  font-family: poppins;
  font-size: 1.5em;
  border-radius: 4px;
  border: solid;
  color: $primary-color;
  
}

///////////////
/// project details
///

.project-details {
  display: flex;
  justify-content: left;
  h1 {
    align-items: left;
  }
}

////
/// ABOUT
////
.about-section {
  h1 {
    padding-top: 100px;
    text-align: left;
    margin: 0px auto;
  width: 70%;
    font-size: 3em;
  }
}
.about-card {
  display: flex;
  background: $secondary-color;
  margin: 24px auto;
  padding: 0 5% 0 5%;
  height: auto;
  width: 60%;
  border-radius: 10px 10px 10px 10px;
  font-style: normal;
  box-shadow: $box-shadow;
  column-gap: 24px;

  .about-info {
    width: 50%;
    padding: 16px 0px 16px 0px;
    
  }
  .bio-top {
    text-align: left;
    color: black;
    background-color: $background-color;
    padding: 8px;;
   
    
  }
  .life-outside {
    padding-top: 10%;
    text-align: center;
    font-weight: 500;

  }
  .bio {
    padding-top: 0;
    text-align: left;
    color: black;
    font-weight: 300;
    padding: 8px;
    font-size: 1em;
  }
  .technology-title {
    text-align: center;
  }
  .tech-stack {
    width: 50%;
    padding: 16px 0px 16px 0px;

    .icon-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 24px;

      .icon-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
        height: auto;
        padding: 14px;
        font-weight: 200;
      }

    }
  }
}
.footer {
  background-color: black;
  color: white;
  width: 100%;
  height:auto;
  padding: 16px 0;
  text-align: center;
}

a.button-project-links:hover {
  background-color: rgb(155, 220, 237);

}

@media only all and (min-width: 1px) {
 

}

